<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
            <img src="../img/logo.png" alt="Logotipo Empresa" width="384" height="291">
            </a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Contacto</h1>
        <form action="submit_contacto.php" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Enviar</button>
        </form>

        <section class="mapa">
            <h2>Ubicación de la empresa</h2>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.1168318663486!2d-0.37639668447262407!3d39.47017707944829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60afdbdc939cf1%3A0xb8a1da6ffb7d5fcf!2sC/%20de%20l'Historiador%20Diago%2C%2017%2C%20Extramurs%2C%2046007%20Val%C3%A8ncia%2C%20Valencia!5e0!3m2!1ses!2ses!4v1709271612537!5m2!1ses!2ses" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
        </section>
    </main>
    <footer>
        <p>Calle Ejemplo 123, Ciudad, País</p>
        <p>Aviso legal</p>
        <div class="social">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../img/instagram.svg" alt="Instagram" width="30" height="30">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/facebook.svg" alt="Facebook" width="30" height="30">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/twitter.svg" alt="Twitter" width="30" height="30">
            </a>
            <a href="https://www.tiktok.com" target="_blank">
                <img src="../img/tiktok.svg" alt="TikTok" width="30" height="30">
            </a>
        </div>
    </footer>  
</body>
</html>
