<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script defer src="../js/galeria.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../img/logo.png" alt="Logotipo Empresa">
            </a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/galeria.html" class="active">Galería</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Nuestros productos</h1>

        <div class="grid-gallery">
            <div class="grid-item"><img src="../img/producto1.jpg" alt="Producto 1"></div>
            <div class="grid-item"><img src="../img/producto2.jpg" alt="Producto 2"></div>
            <div class="grid-item"><img src="../img/producto3.jpg" alt="Producto 3"></div>
            <div class="grid-item"><img src="../img/producto4.jpg" alt="Producto 4"></div>
            <div class="grid-item"><img src="../img/producto5.jpg" alt="Producto 5"></div>
            <div class="grid-item"><img src="../img/producto6.jpg" alt="Producto 6"></div>
            <div class="grid-item"><img src="../img/producto7.jpg" alt="Producto 7"></div>
            <div class="grid-item"><img src="../img/producto8.jpg" alt="Producto 8"></div>
            <div class="grid-item"><img src="../img/producto9.jpg" alt="Producto 9"></div>
            <div class="grid-item"><img src="../img/producto10.jpg" alt="Producto 7"></div>
            <div class="grid-item"><img src="../img/producto11.jpg" alt="Producto 8"></div>
            <div class="grid-item"><img src="../img/producto12.jpg" alt="Producto 9"></div>
        </div>
    </main>
    <footer>
        <div class="footer-info">
            <p>C/ Historiador Diago, 17, Extramurs, 46007 Valencia</p>
            <p>Aviso legal</p>
        </div>

        <div class="footer-nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>

        <div class="social">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../img/instagram.svg" alt="Instagram" width="30" height="30">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/facebook.svg" alt="Facebook" width="30" height="30">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../img/twitter.svg" alt="Twitter" width="30" height="30">
            </a>
            <a href="https://www.tiktok.com" target="_blank">
                <img src="../img/tiktok.svg" alt="TikTok" width="30" height="30">
            </a>
        </div>
    </footer>
</body>
</html>
